body {
  background-color: #fa8072;
  color: Lavender ;

}

hr {
  border-color: gray;
  border-bottom-style: dotted;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-width: 5px;
  width: 10%;
}

img {
  height: 200px;
}

h1 {
  color: #787A91;
}
h2 {
  color: #787A91;
}
table {
  color: black;
}
td {
  color: red;
}
th {
  color: gray;
}
